*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

input{
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    background: #F8F8F8;
    width: 100%;
    box-sizing: border-box;
}

input[type="password"]{
    letter-spacing: 5px;
}

::placeholder {
    letter-spacing: normal;
}

button{
    width: 100%;
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: underline;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #EFF1F5;

    .form-container{
        background: #fff;
        width: 900px;
        height: 650px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        padding: 5px;
        border-radius: 5px;
        display: flex;

        .left-form{
            width: 360px;
            height: inherit;
           

            img{
                width: 360px;
                height: calc(100% - 10px);
                object-fit: cover;
            }
        }

        .right-form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 540px;

            .right-container{
                padding: 10px;
                width: 400px;

                h2{
                   display: inline;
                }

                p{
                    margin-bottom: 50px;
                    margin-top: 20px;

                    a{
                        font-weight: bold;
                    }
                }

                form{
                    .form-input{
                        i{
                            margin-left: -30px;
                            cursor: pointer;
                        }
                    }


                    a{
                        display: block;
                        text-align: center;
                        margin-bottom: 15px;
                        cursor: pointer;
                    }

                    .btn-form{
                        width: 100%;

                        .sign-btn{
                            background: #000;
                            color: #fff;
                        }

                        .google-button{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img{
                                margin-right: 15px;
                                width: 20px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    button{
        margin-top: 25px;
    }

   .container{
    .form-container{
        height: 100vh;

        .left-form{
            display: none;
        }

        .right-form{
            width: 100%;

            .right-container{
                width: inherit;
                padding: 20px;

                form{
                    a{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
   }
}